{% extends 'base.html' %}

{% load static %}

{% block title %} Permission Denied {% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<header class="masthead text-center bg-light text-editor">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/403.jpg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Permission Denied</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line editor-custom-line"></div>
            <div class="divider-custom-icon text-editor"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line editor-custom-line"></div>
        </div>
    </div>
</header>
{% endblock %}