{% load widget_tweaks %}
{% load formtags %}

<form action="{{from.action|default:request.path}}" role="form" id="{{form.id}}" method="{{form.method|default:'post'}}" enctype="multipart/form-data" autocomplete="off" novalidate>
    <!-- CSRF TOKEN -->
    {% csrf_token %}
    <!-- Hidden fields -->
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% if hidden_field.errors %}
            {% for error in hidden_field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <!-- Non field errors -->
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}
    <!-- Visible fields -->
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                {% for field in form.visible_fields %}
                    {{ field.label_tag }}
                    {% render_field field class=form|rc_validate_class:field placeholder=field.label %}
                    {% rc_validate_error field %}
                    {% rc_field_help_text field %}
                {% endfor %}
            </div>
        </div>
        {% if form.buttons %}
        <div class="col-md-12 my-4">
            <div class="col-md-4 col-md-2" style="margin-bottom: 10px;">
                {% include 'buttons.html' with buttons=form.buttons %}
            </div>
        </div>
        {% endif %}
    </div>
</form>