{% extends 'base.html' %}

{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<header class="masthead bg-primary text-white text-center bg-home">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/186.jpg' %}" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">Home</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>
</header>
{% endblock %}
