{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}
{% block content %}
    <section class="page-section mt-5">
        <div class="container">
            {% include 'form.html' with form=form %}
        </div>
    </section>
{% endblock %}