{% extends 'base.html' %}

{% load static %}

{% block title %} {{title}} {% endblock %}
{% block content %}
<header class="masthead text-center bg-light text-student">
    <div class="container d-flex align-items-center flex-column">
        <img class="masthead-avatar mb-5" src="{% static 'assets/img/215.jpg' %}" alt="..." />
        <h1 class="masthead-heading text-uppercase mb-0">Student Profile</h1>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line student-custom-line"></div>
            <div class="divider-custom-icon text-student"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line student-custom-line"></div>
        </div>
    </div>
</header>
{% endblock %}